.social-media{
display:flex;
justify-content:center;
gap:20px;
margin-top:40px;
margin-bottom:30px;
}

.social-media a{
width:55px;
height:55px;
background:rgba(255,255,255,.08);
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
color:white;
text-decoration:none;
transition:.4s;
}

.social-media a:hover{
transform:translateY(-8px);
background:#222;
box-shadow:0 0 20px rgba(255,255,255,.2);
}

.fa-instagram{
color:#E1306C;
}

.fa-tiktok{
color:white;
}